body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-height: 100vh;
}
main {
    background-color: rgb(32, 0, 0) width 100%;
    max-width: 56rem;
    width: 100%;
    padding: 1rem;
}

.card-row {
    background-color: rgb(46, 4, 4);
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.hero-content {
    /* margin: auto; */
    width: 75ch;
}
.hero-container {
    justify-content: center;
}

.card {
    min-width: 18rem;
    flex: 1;
    padding: 1rem;
}
.card img {
    width: 100%;
}
