body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-height: 100vh;
    background-color: rgb(10, 0, 0);
}
main {
    max-width: 56rem;
    width: 100%;
    padding: 1rem;
}

.card-row {
    background-color: rgb(22, 0, 0);
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 3rem;
}
.hero-content {
    /* margin: auto; */
    width: 75ch;
}
.hero-container {
    justify-content: center;
}

.card {
    min-width: 20rem;
    flex: 1;
    padding: rem;
}
.card img {
    width: 100%;
    aspect-ratio: 2 / 2;
}
h3 {
    color: rgb(207, 203, 198);
}

h2 {
    color: rgb(192, 186, 179);
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
