body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main {
    background-color: rgb(0, 151, 221);
    width: 80ch;
    max-width: 100%;
}
.card-row {
    display: flex;
    gap: 1rem;
}
