body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-height: 100vh;
    background-color: rgb(3, 3, 24);
}
main {
    max-width: 56rem;
    width: 100%;
    padding: 1rem;
}

.card-row {
    background-color: rgba(18, 26, 48, 0.663);
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 3rem;
}
.hero-content {
    /* margin: auto; */
    width: 75ch;
}
.hero-container {
    justify-content: center;
}

.card {
    min-width: 20rem;
    padding: rem;
}
.card img {
    width: 100%;
    aspect-ratio: 2 / 2;
}
h1 {
    color: beige;
    font-style: oblique;
}
h2 {
    color: beige;
}
h3 {
    color: beige;
    text-align: end;
}
h4 {
    color: beige;
}
